body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u3529 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:285px;
  width:65px;
  height:24px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:288px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u3532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u3533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:36px;
}
#u3533 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:318px;
  width:352px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:59px;
}
#u3535 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:363px;
  width:616px;
  height:58px;
}
#u3536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3537 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:382px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u3539 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:382px;
  width:85px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  text-align:center;
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:96px;
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:473px;
  width:616px;
  height:95px;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:525px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:27px;
}
#u3545 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:477px;
  width:529px;
  height:26px;
}
#u3546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:481px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3549 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:480px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3551 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:517px;
  width:79px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:517px;
  width:79px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:522px;
  width:0px;
  height:0px;
}
#u3555_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u3555_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:94px;
  height:8px;
}
#u3555_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-12px;
  width:20px;
  height:20px;
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:548px;
  width:0px;
  height:0px;
}
#u3557_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u3557_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-2px;
  width:92px;
  height:8px;
}
#u3557_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:20px;
  height:20px;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u3559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:480px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:526px;
  width:61px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u3563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:526px;
  width:104px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:36px;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:438px;
  width:352px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:382px;
  width:0px;
  height:0px;
}
#u3567_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-106px;
  width:8px;
  height:106px;
}
#u3567_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-106px;
  width:568px;
  height:8px;
}
#u3567_seg2 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:-112px;
  width:20px;
  height:20px;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-110px;
  width:100px;
  word-wrap:break-word;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:522px;
  width:0px;
  height:0px;
}
#u3569_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u3569_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-80px;
  width:8px;
  height:84px;
}
#u3569_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-80px;
  width:117px;
  height:8px;
}
#u3569_seg3 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-246px;
  width:8px;
  height:174px;
}
#u3569_seg4 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-246px;
  width:49px;
  height:8px;
}
#u3569_seg5 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:-252px;
  width:20px;
  height:20px;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:178px;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:115px;
  width:418px;
  height:177px;
}
#u3573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:103px;
  width:30px;
  height:30px;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:133px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:130px;
  width:24px;
  height:26px;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:106px;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:163px;
  width:383px;
  height:106px;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:178px;
}
#u3583 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:364px;
  width:418px;
  height:177px;
}
#u3584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3585 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:352px;
  width:30px;
  height:30px;
}
#u3586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:382px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:379px;
  width:24px;
  height:26px;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:95px;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:415px;
  width:387px;
  height:95px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:165px;
  width:58px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:419px;
  width:58px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:178px;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:635px;
  width:418px;
  height:177px;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:623px;
  width:30px;
  height:30px;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:653px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:650px;
  width:24px;
  height:26px;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:33px;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:686px;
  width:387px;
  height:33px;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:690px;
  width:58px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:691px;
  width:58px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:729px;
  width:49px;
  height:17px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:18px;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:729px;
  width:157px;
  height:17px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:130px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:379px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:650px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:590px;
  width:12px;
  height:12px;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:590px;
  width:0px;
  height:0px;
}
#u3625_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:41px;
}
#u3625_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-44px;
  width:20px;
  height:20px;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:585px;
  width:139px;
  height:44px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:292px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3629_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u3629_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:541px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3631_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u3631_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:96px;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:670px;
  width:616px;
  height:95px;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:722px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:27px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:674px;
  width:529px;
  height:26px;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:678px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:677px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:714px;
  width:79px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:714px;
  width:79px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:731px;
  width:0px;
  height:0px;
}
#u3647_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u3647_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:94px;
  height:8px;
}
#u3647_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-12px;
  width:20px;
  height:20px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:677px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:723px;
  width:61px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:723px;
  width:104px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:790px;
  width:12px;
  height:12px;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:790px;
  width:0px;
  height:0px;
}
#u3658_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:41px;
}
#u3658_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-44px;
  width:20px;
  height:20px;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:785px;
  width:139px;
  height:44px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u3662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:96px;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:851px;
  width:616px;
  height:95px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:903px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:27px;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:855px;
  width:529px;
  height:26px;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:525px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:859px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:858px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:895px;
  width:79px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:895px;
  width:79px;
  height:37px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:912px;
  width:0px;
  height:0px;
}
#u3676_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u3676_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-2px;
  width:92px;
  height:8px;
}
#u3676_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:20px;
  height:20px;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u3678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:858px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:904px;
  width:61px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u3682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:904px;
  width:104px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:968px;
  width:12px;
  height:12px;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:968px;
  width:0px;
  height:0px;
}
#u3687_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:41px;
}
#u3687_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-44px;
  width:20px;
  height:20px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:963px;
  width:139px;
  height:44px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
