body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66 {
  position:fixed;
  left:50%;
  margin-left:-1000px;
  top:0px;
}
#u66_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:2000px;
  height:651px;
  background-image:none;
}
#u66_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:500px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:2000px;
  height:500px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:58px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:593px;
  width:2000px;
  height:58px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:93px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:93px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:29px;
  width:365px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:30px 30px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:30px 30px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:30px 30px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u75 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:111px;
  width:884px;
  height:440px;
  opacity:0.7;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:593px;
  width:703px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:213px;
  width:774px;
  height:313px;
}
#u79_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:313px;
  overflow:auto;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:145px;
  width:162px;
  height:38px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
