body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:804px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:804px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
