body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-30px;
  width:1013px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:87px;
  width:1007px;
  height:338px;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:30px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:440px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:30px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:0px;
  width:558px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:554px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:303px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:444px;
  height:303px;
  font-size:16px;
  text-align:left;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:440px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:303px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:30px;
  width:558px;
  height:303px;
  font-size:16px;
  text-align:left;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:554px;
  word-wrap:break-word;
}
