body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1142px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:1072px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:1142px;
  height:1072px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:528px;
  width:1138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:1040px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:52px;
  width:343px;
  height:1040px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:512px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:683px;
  width:85px;
  height:20px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:625px;
  width:113px;
  height:20px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:445px;
  width:300px;
  height:170px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  word-wrap:break-word;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:557px;
  width:300px;
  height:45px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:457px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:67px;
  width:320px;
  height:457px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:220px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:426px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:653px;
  width:320px;
  height:426px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:205px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:524px;
  width:320px;
  height:128px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:566px;
  width:204px;
  height:23px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:589px;
  width:249px;
  height:23px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:245px;
  word-wrap:break-word;
}
#u1260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:612px;
  width:94px;
  height:23px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u1262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:612px;
  width:94px;
  height:23px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u1264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:543px;
  width:210px;
  height:23px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:206px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:550px;
  width:61px;
  height:61px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:635px;
  width:0px;
  height:0px;
}
#u1268_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u1268_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:56px;
  width:253px;
  height:8px;
}
#u1268_seg2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:50px;
  width:20px;
  height:20px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:626px;
  width:0px;
  height:0px;
}
#u1270_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:231px;
  height:8px;
}
#u1270_seg1 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-4px;
  width:8px;
  height:17px;
}
#u1270_seg2 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:5px;
  width:15px;
  height:8px;
}
#u1270_seg3 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:-1px;
  width:20px;
  height:20px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1041px;
  width:318px;
  height:48px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  word-wrap:break-word;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1053px;
  width:24px;
  height:24px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1065px;
  width:0px;
  height:0px;
}
#u1277_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1277_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:981px;
  width:33px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:984px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:1014px;
  width:352px;
  height:78px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
