body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1421px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:526px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1314px;
  height:526px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:255px;
  width:1310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:47px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:135px;
  width:191px;
  height:47px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:47px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:135px;
  width:190px;
  height:47px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:150px;
  width:71px;
  height:16px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:143px;
  width:141px;
  height:31px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u72_input:disabled {
  color:grayText;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:177px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:202px;
  width:427px;
  height:177px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:177px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:202px;
  width:84px;
  height:177px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:169px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:209px;
  width:69px;
  height:169px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:56px;
  background:inherit;
  background-color:rgba(245, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:228px;
  width:39px;
  height:56px;
  font-size:14px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:305px;
  width:39px;
  height:56px;
  font-size:14px;
  color:#666666;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:220px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:168px;
  width:306px;
  height:220px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:68px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:68px;
  width:113px;
  height:68px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
