body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:798px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:798px;
  height:1047px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:798px;
  height:1047px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:516px;
  width:794px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:1013px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:38px;
  width:332px;
  height:1013px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:498px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:89px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:44px;
  width:320px;
  height:89px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:911px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:243px;
  width:320px;
  height:911px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:448px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:112px;
  width:24px;
  height:24px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:124px;
  width:0px;
  height:0px;
}
#u1001_seg0 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1001_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:112px;
  width:97px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:115px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:145px;
  width:352px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'PingFang-SC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#008000;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1117px;
  width:55px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1117px;
  width:55px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:1117px;
  width:55px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:133px;
  width:320px;
  height:100px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  word-wrap:break-word;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:149px;
  width:240px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
