body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:643px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:163px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3427 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:126px;
  width:29px;
  height:20px;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:234px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3431 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:310px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3433 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:441px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:551px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:187px;
  width:0px;
  height:0px;
  color:#009966;
}
#u3437_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u3437_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:258px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u3439_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:38px;
  width:9px;
  height:8px;
}
#u3439_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:38px;
  width:8px;
  height:14px;
}
#u3439_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:39px;
  width:20px;
  height:20px;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:334px;
  width:0px;
  height:0px;
}
#u3441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u3441_seg1 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:6px;
  width:50px;
  height:8px;
}
#u3441_seg2 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:6px;
  width:8px;
  height:91px;
}
#u3441_seg3 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:89px;
  width:49px;
  height:8px;
}
#u3441_seg4 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:89px;
  width:8px;
  height:18px;
}
#u3441_seg5 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:92px;
  width:20px;
  height:20px;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:334px;
  width:0px;
  height:0px;
}
#u3443_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u3443_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:48px;
  height:8px;
}
#u3443_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:6px;
  width:8px;
  height:91px;
}
#u3443_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:89px;
  width:49px;
  height:8px;
}
#u3443_seg4 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:89px;
  width:8px;
  height:18px;
}
#u3443_seg5 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:92px;
  width:20px;
  height:20px;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:100px;
  word-wrap:break-word;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:465px;
  width:0px;
  height:0px;
}
#u3445_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u3445_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:71px;
  width:20px;
  height:20px;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:453px;
  width:0px;
  height:0px;
}
#u3447_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u3447_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-4px;
  width:8px;
  height:118px;
}
#u3447_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:43px;
  height:8px;
}
#u3447_seg3 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:100px;
  width:20px;
  height:20px;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u3449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:551px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:310px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:322px;
  width:0px;
  height:0px;
}
#u3453_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:255px;
  height:8px;
}
#u3453_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:246px;
  width:0px;
  height:0px;
}
#u3455_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:157px;
  height:8px;
}
#u3455_seg1 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-4px;
  width:8px;
  height:84px;
}
#u3455_seg2 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:72px;
  width:101px;
  height:8px;
}
#u3455_seg3 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:66px;
  width:20px;
  height:20px;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:175px;
  width:0px;
  height:0px;
}
#u3457_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:157px;
  height:8px;
}
#u3457_seg1 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-4px;
  width:8px;
  height:155px;
}
#u3457_seg2 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:143px;
  width:101px;
  height:8px;
}
#u3457_seg3 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:137px;
  width:20px;
  height:20px;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:563px;
  width:0px;
  height:0px;
  color:#009966;
}
#u3459_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u3459_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:48px;
  width:55px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:563px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3463_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u3463_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:551px;
  width:85px;
  height:24px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u3467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:592px;
  width:100px;
  height:60px;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:648px;
  width:21px;
  height:21px;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:575px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3471_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u3471_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:60px;
  width:20px;
  height:20px;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:552px;
  width:21px;
  height:21px;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:311px;
  width:21px;
  height:21px;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:322px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3477_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u3477_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:563px;
  width:0px;
  height:0px;
  color:#666666;
}
#u3479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u3479_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
